h1 {
    color: red;
}
#head2 {
    color: blue;
}
.head {
    color:rgb(49, 0, 128);
}
.para {
    border: 2px;
    border-color: brown;
    border-style: solid;
    padding: 10px;
    text-align: center;
}
.navbar {
    border: 2px;
    border-color: rgb(165, 165, 42);
    border-style: solid;
    padding: 10px;
    text-align: center;
    background-color:cadetblue;
}
.navbar a {
    color: aquamarine;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.263);
}
body{
    margin:0px;
}
.card{
    border:2px solid aqua;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin:auto;

}
.card img{
    width: 100%;
    text-align: center;
}
.card button{
    background-color:greenyellow;
    margin-bottom:  20px;
}
.pill{
    float: right;
    margin-right: 20px;
}
.main-content{
    text-align: center;
}
.gear{
    position: fixed;
    left: 20px;
}
.input{
    border: 2px solid pink;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.lens{
    position:relative;
    left:30px;
}
.search-box{
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}
